body {
  background: #e3405d;
  color: black;
  font-family: sunshiney;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#parentDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  gap: 20px;
  padding: 20px;
}
#adviceList {
  background: #afa4a1;
  overflow-y: scroll;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 120px;
  height: 400px;
}
#adviceList p {
  text-align: center;
}
#mainDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
#answers {
  font-size: 4vh;
  text-align: center;
  margin-top: 185px;
  padding: 50px;

}
#response {
  background: #afa4a1;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: sunshiney;
  font-size: 3vh;
  font-weight: bold;
}
#response:hover {
  background-color: #e7e0df;
  transition: 0.5s ease;
}
#imagePlaceHolder {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: 15%;
  border-radius: 90%;
  overflow: scroll;
}
  #header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 25px;
}
  #textBox {
  width: 200px;
}
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
  input {
  background-color: #e7e0df;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
@media(max-width: 1050px) {
  #parentDiv {
   display: flex;
   flex-direction: column; 
   justify-content: flex-start; 
   align-items: center;   
   gap: 10px;  
 }
 #mainDiv {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   overflow-y: auto;
 }
 #mainDiv p {
   font-size: 4vh;
 }
 #imagePlaceHolder {
   margin-bottom: 10%;
   display: flex;
   flex-direction: column;
   justify-content:flex-start;
   width: 90%;
 }
  #imagePlaceHolder img {
   width: auto;
   height: 100%;
  border-radius: 20%;
 }
 #footer{
  text-align: center;
 }
 #adviceList {
   width: 90%;
   max-width: 600px;
   height: auto;
   max-height: 80px;
   overflow-y: auto;
   padding: 10px;
   margin: 1px auto;
   border: 1px solid #ccc;
   border-radius: 10px; 
   background-color: #afa4a1; 
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
   text-align: center; 
   display: block;
 }
}
@media(max-width: 500px) {
  #answers, #imagePlaceHolder, #mainDiv{
    margin: 0;
    padding: 0; 
  }
  #header {
    width: 90%;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
  }
  #parentDiv {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;   
    gap: 10px;  
  }
  #response {
    height: fit-content;
    font-size: 2.3vh;
  }
  #adviceList {
    display: flex;
    flex-direction: column;
    flex-content: flex-start;
    width: 90%;
    max-width: 400px;
    height: auto;
    max-height: 75px;
    overflow-y: auto;
    padding: 10px;
    margin: 1px auto;
    border: 1px solid #ccc;
    border-radius: 10px; 
    background-color: #afa4a1; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    text-align: center; 
    display: block;
  }
  #mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    min-width: auto;
    max-width: 100vw;
  }
  #footer {
    font-size: 2vh;
    text-align: center;
    width: 90%;
    left: 45%;
    transform: translateX(-50%);
  }
  #mainDiv p { 
  font-size: 3vh;
  padding: 25px; 
  }
  #imagePlaceHolder img {
    width: 100%;
    height: auto;
    max-width: 100%; 
  }

  #imagePlaceHolder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    border-radius: 20%;
  }
}